
// Option B: Include parts of Bootstrap
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

@import "./abstracts/_map-amends";

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`

// 8. Whole bootstrap

@import "../../node_modules/bootstrap/scss/bootstrap";

// 9. My own css
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

.offcanvas {
    --bs-offcanvas-width: 200px;
}

@media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
      --bs-modal-width: 700px;
    }
}

:root {
    --bs-body-font-family: 'Kumbh Sans';
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.btn-close:focus,
.btn-close:active,
.btn-close-icon:focus {
    outline: none;
    box-shadow: none;
}

.w-20 {
    width: 20%;
}

img {
    cursor: pointer;
}

// navbar and cart widget styles

.nav-avatar {
    width: 2em;
}

.cart-widget-product img {
    object-fit: cover;
    width: 3em;
    height: 3em;
}

.cart-widget-product-text {
    padding: .25em .75em;
    width: 15em;
}

// offcanvas

.offcanvas {
    width: 10em;
}

// thumbnail selected class

.selected {
    outline: 4px solid darkorange;
}
